<a href="https://colab.research.google.com/github/jacekre/hello-world/blob/master/jr_Ticanic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
!wget https://raw.githubusercontent.com/vincentarelbundock/Rdatasets/master/csv/datasets/Titanic.csv -P "/content/drive/My Drive/Colab Notebook/Titanic.csv -P "

--2019-03-10 10:29:09--  https://raw.githubusercontent.com/vincentarelbundock/Rdatasets/master/csv/datasets/Titanic.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 151.101.0.133, 151.101.64.133, 151.101.128.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|151.101.0.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1170 (1.1K) [text/plain]
Saving to: ‘/content/drive/My Drive/Colab Notebook/Titanic.csv -P /Titanic.csv’

Titanic.csv         100%[===================>]   1.14K  --.-KB/s    in 0s

2019-03-10 10:29:09 (64.9 MB/s) - ‘/content/drive/My Drive/Colab Notebook/Titanic.csv -P /Titanic.csv’ saved [1170/1170]

In [0]:
import pandas as pd
titanic = pd.read_csv("drive/My Drive/Colab Notebooks/Titanic.csv")
titanic.head()

   Unnamed: 0 Class     Sex    Age Survived  Freq
0           1   1st    Male  Child       No     0
1           2   2nd    Male  Child       No     0
2           3   3rd    Male  Child       No    35
3           4  Crew    Male  Child       No     0
4           5   1st  Female  Child       No     0